<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <input v-model="newItem" type="text" placeholder="Add an item" >
            <ul>
                <li v-for="item in items">{{ item }}</li>
            </ul>
        </div>

        <script>
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    header: 'Shopping List',
                    newItem: '',
                    items: [
                        '1 paper',
                        '2 pencils',
                        '3 pens'
                    ]
                }
            })
        </script>
    </body>
</html> 