<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="shopping-list">
            <div class="header">
                <h1>{{ header.toLocaleUpperCase() }}</h1>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
            </div>
            
            <div v-if="state === 'edit'" class="add-item-form">
                <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
                <p>{{ characterCount }} / 200</p>
                <button class="btn btn-primary" v-bind:disabled="newItem.length === 0" @click="saveItem">Save Item</button>
            </div>

            <a v-bind:href="newItem" target="_blank">Dynamic Link</a>
            
            <ul>
                <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
            </ul>
            <p v-if="items.length === 0">No items to show.</p>
        </div>

        <script>
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'Shopping List',
                    newItem: '',
                    items: [
                        {
                            label: '1 paper',
                            purchased: true,
                        },
                        {
                            label: '2 pencils',
                            purchased: false,
                        },
                        {
                            label: '3 pens',
                            purchased: true,
                        },
                        // '1 paper',
                        // '2 pencils',
                        // '3 pens'
                    ]
                },
                computed: {
                    characterCount () {
                        return this.newItem.length;
                    },
                    reversedItems () {
                        return this.items.slice(0).reverse();
                    }
                },
                methods: {
                    saveItem: function () {
                        this.items.push({
                            label: this.newItem,
                            purchased: false
                        });
                        this.newItem = '';
                    },
                    changeState: function(newState) {
                        this.state = newState;

                        this.newItem = '';
                    },
                    togglePurchased: function(item) {
                        item.purchased = !item.purchased;
                    }
                }
            })
        </script>
    </body>
</html> 